@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Ultralight.woff2') format('woff2');
}

.app-city {
	font-family: SF Pro Display;
	font-size: 34px;
	font-weight: 600;
	line-height: 41px;
	letter-spacing: 0.374px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}
.app-temperature {
	font-family: SF Pro Display;
	font-size: 96px;
	font-weight: 200;
	line-height: 70px;
	letter-spacing: 0.374px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}
