* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
}

.app {
	max-width: 390px;
	max-height: 844px;
	height: 100vh;
	margin: 0 auto;
	background: url(../img/bg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.app-content {
	padding-top: 20vh;
	text-align: center;
	position: relative;
	padding: 20vh 1rem 1rem;
	overflow: hidden;
}

.house {
	max-height: 390px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.app-city {
	font-size: 2rem;
	font-weight: 600;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.app-temperature {
	font-size: 6rem;
	font-weight: 200;
	line-height: 1.2;
}
