@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2');
}

.app {
	max-width: 390px;
	background: linear-gradient(169.61deg, #2e3358 2.83%, #1c1b33 94.85%);
	margin: 0 auto;
}

.weather-text {
	padding: 49px 9px 17px 44px;
	font-size: 1.56rem;
	font-weight: 400;
}

.input-text {
	display: grid;
	align-items: center;
	position: relative;
	padding-left: 16px;
	padding-right: 16px;
}

.search-input {
	border: none;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.25);
	max-width: 358px;
	max-height: 36px;
	outline: none;
	padding: 7px 8px 7px 23.63px;
}

.search-input::placeholder {
	font-size: 1rem;
	font-weight: 400;
}

.app-content {
	margin: 25px;
}

.content-cloud {
	max-width: 160px;
	max-height: 160px;
}

.content {
	display: grid;
	grid-template-columns: 50% auto;
	grid-template-rows: 100px auto;
	justify-items: center;
	align-items: center;
	max-width: 340px;
	min-height: 215px;
	background: url(../img/bg_temperature.svg) no-repeat;
	background-size: contain;
	background-position: center;
	margin-top: 30px;
}

.content-temperature {
	font-size: 2rem;
	font-weight: 400;
	margin-top: 30%;
}

.content-condition,
.content-sity {
	font-size: 1rem;
	font-weight: 400;
}

.content-high-low {
	font-size: 1rem;
	font-weight: 400;
	color: rgba(235, 235, 245, 0.6);
}

.search-icon {
	position: absolute;
	width: 10px;
	height: 10px;
	padding: 10px 0;
	pointer-events: none;
	left: 24px;
	transition: opacity 0.15s ease-in-out;
	color: #fff;
}

.search-input:focus + .search-icon {
	opacity: 0.1;
	color: orange;
}
