@font-face {
	font-family: 'SF Pro Display';
	src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2');
}

.app {
	max-width: 390px;
	max-height: 100%;
	background: linear-gradient(169.61deg, #2e3358 2.83%, #1c1b33 94.85%);
	margin: 0 auto;
	z-index: -1;
}

.weather-text {
	padding: 49px 9px 17px 44px;
	font-size: 1.56rem;
	font-weight: 400;
}

.input-text {
	display: grid;
	align-items: center;
	position: relative;
	padding-left: 16px;
	padding-right: 16px;
}

.search-input {
	border: none;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.25);
	max-width: 358px;
	max-height: 36px;
	outline: none;
	padding: 7px 8px 7px 30px;
	color: #fff;
}

.search-input::placeholder {
	font-size: 1rem;
	font-weight: 400;
}

.app-content {
	position: relative;
	margin: 25px;
}

.content-cloud {
	max-width: 160px;
	max-height: 160px;
}

.content {
	position: relative;
	display: grid;
	grid-template-columns: 50% auto;
	grid-template-rows: 100px auto;
	justify-items: center;
	align-items: center;
	max-width: 340px;
	min-height: 215px;
	background: url(../img/bg_temperature.svg) no-repeat;
	background-size: contain;
	background-position: center;
	margin-top: 30px;
	z-index: 3;
}

.content::before {
	position: absolute;
	content: '';
	max-width: 390px;
	max-height: 300px;
	width: 110%;
	height: 110%;
	border-radius: 60%;
	background: conic-gradient(
		from 180deg at 50% 50%,
		#612fab -90.71deg,
		rgba(97, 47, 171, 0) 50.02deg,
		#612fab 129.55deg,
		rgba(97, 47, 171, 0) 226.06deg,
		#612fab 269.29deg,
		rgba(97, 47, 171, 0) 410.02deg
	);
	opacity: 0.6;
	filter: blur(30px);
	z-index: -1;
	pointer-events: none;
}

.content-temperature {
	font-size: 2rem;
	font-weight: 400;
	margin-top: 30%;
}

.content-condition,
.content-city {
	font-size: 1rem;
	font-weight: 400;
}

.content-high-low {
	font-size: 1rem;
	font-weight: 400;
	color: rgba(235, 235, 245, 0.6);
}

.search-icon {
	position: absolute;
	width: 16px;
	height: 16px;
	padding: 10px 0;
	pointer-events: none;
	left: 24px;
	box-sizing: content-box;
	opacity: 0.6;
	transition: opacity 0.15s ease-in-out;
	color: #fff;
}

.search-input:focus ~ .search-icon {
	opacity: 0.4;
}

.not-found {
	display: flex;
	margin: 16px 48px;
	gap: 10px;
}

.not-found-text-hidden,
.not-found-btn-hidden {
	display: none;
}

.not-found-btn {
	flex: 1;
	border: none;
	border-radius: 10px;
	margin: 5px 0;
}

.not-found-btn:hover {
	transition: opacity 0.5s ease-in-out;
	opacity: 0.8;
}

.not-found-text {
	font-size: 1.56rem;
	font-weight: 400;
}

.content-hidden {
	display: none;
}
