* {
	margin: 0;
	padding: 0;
	color: #fff;
}

.app {
	max-width: 390px;
	max-height: 844px;
	height: 100vh;
	margin: 0 auto;
	background: url(../img/bg.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.app-contant {
	padding-top: 20vh;
	text-align: center;
}

.house {
	max-width: 390px;
	max-height: 390px;
	padding-top: 15vh;
}
